* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000d9;
}

#capture,
#record {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  position: fixed;
  z-index: 3;
  background-color: black;
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

#record {
  top: 47vh;
  right: 20px;
}

#capture {
  top: 27vh;
  right: 20px;
}

#video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
}

.record-animation {
  animation: zoom-in-out 0.8s infinite;
}

.capture-animation {
  animation: zoom-in-out 0.8s;
}

.filter-container {
  width: 6rem;
  height: 60vh;
  position: fixed;
  top: 28vh;
  left: 20px;
  z-index: 3;
  border: 1px solid white;
}

.filter {
  width: 100%;
  height: calc(100% / 6);
  background-image: url(https://static.scientificamerican.com/sciam/cache/file/4E0744CD-793A-4EF8-B550B54F7F2C4406_source.jpg);
  background-size: cover;
  background-blend-mode: color-burn;
  border: 1px solid white;
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}

.zoom-container {
  height: 3rem;
  width: 6rem;
  position: fixed;
  top: 10vh;
  left: 20px;
  display: flex;
  z-index: 3;
}

.zoom-in, .zoom-out{
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
}

#gallery {
  position: fixed;
  z-index: 3;
  bottom: 100px;
  right: 30px;
  height: 3rem;
  font-size: 2.3rem;
}

.download, .delete{
    background-color: black;
    color: white;
    border: 1px solid white;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
